name: validate

on:
    workflow_dispatch:
    push:
        branches:
            - dev*

jobs:
    validate:
        permissions:
            contents: read
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@main

            - name: setup uv
              uses: astral-sh/setup-uv@v7
              with:
                  activate-environment: true

            - name: run tests
              uses: dariocurr/pytest-summary@main
              with:
                  extensions: .venv
