name: "[TEST] with output"

on:
  push:
    branches:
      - dev*

  workflow_dispatch:

jobs:
  output:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: set up python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"

      - name: run tests
        uses: dariocurr/pytest-summary@main
        with:
          extensions: pytest-asyncio
          output: test-summary.md

      - name: check report
        run: python -c "import os; assert 'test-summary.md' in os.listdir('.')"
        if: always()
