name: "[TEST] with options"

on:
  push:
    branches:
      - dev*

  workflow_dispatch:

jobs:
  options:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: set up python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"

      - name: run tests
        uses: dariocurr/pytest-summary@main
        with:
          extensions: pytest-asyncio
          options: -vv -s
