name: "[TEST] with paths"

on:
  push:
    branches:
      - dev*

  workflow_dispatch:

jobs:
  single-path:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: set up python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"

      - name: run tests
        uses: dariocurr/pytest-summary@main
        with:
          extensions: pytest-asyncio
          paths: tests/test_true.py

  multiple-paths:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: set up python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"

      - name: run tests
        uses: dariocurr/pytest-summary@main
        with:
          extensions: pytest-asyncio
          paths: |
            tests/test_false.py \
            tests/test_true.py

  glob-pattern:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: set up python
        uses: actions/setup-python@main
        with:
          python-version: "3.12"

      - name: run tests
        uses: dariocurr/pytest-summary@main
        with:
          extensions: pytest-asyncio
          paths: tests/**.py
